<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>parleyclient-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE00ED5F2531892F007D38A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE00ED7525318930007D38A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE00ED8025318930007D38A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
